@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000046;
  background: -webkit-linear-gradient(to bottom, #000046, #50d7fc);
  background: linear-gradient(to bottom, #000046, #3fd5ff);

  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;

  margin-top: 5rem;
  padding: 1rem 1rem;
}

.left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 6070;
  color: #f5f5f5;
}

.left .purple {
  font-family: "Signika", sans-serif;
  font-weight: 700;
  font-size: 50px;
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #dfdfdf;
}
